
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.container {
  font-family: Helvetica, Ubuntu, Arial, sans-serif;
}
body {
  margin: 0;
}
.spinner-container {
  padding: 10px;
  width: 400px;
}
.toolIcons {
  display: flex;
  padding: 0;
  margin: 0;
  align-items: center;
}
.toolIcons a:hover {
  border-bottom: 5px solid #EA9D47;
}
.toolIcons a {
  width: 80px;
  display: block;
  text-align: center;
  padding: 6px 0;
  border-bottom: 5px solid transparent;
}
.active{
  border-bottom: 5px solid #ddd!important;
}
.toolIcons li {
  list-style-type: none;
  border-right: 1px solid #f8f8f8;
}
.toolIcons li:last-child {
  border-right: none;
}
.spinner {
  display: inline-block;
  animation-name: spin;
  animation-duration: 800ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

h1 {
  font-size: 2em;
}

.hidden {
  display: none;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.se-btn {
  -moz-box-shadow: inset 0px 34px 0px -15px #b54b3a;
  -webkit-box-shadow: inset 0px 34px 0px -15px #b54b3a;
  box-shadow: inset 0px 34px 0px -15px #b54b3a;
  background-color: #a73f2d;
  border: 1px solid #241d13;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: Arial;
  font-size: 15px;
  font-weight: bold;
  padding: 8px 13px;
  text-decoration: none;
  text-shadow: 0px -1px 0px #7a2a1d;
}

.se-btn:hover {
  background-color: #b34332;
}

.se-btn:active {
  position: relative;
  top: 1px;
}
